---
import data from "../data/ficha.json";
import Layout from "../layouts/Layout.astro";
import hero from "../assets/hero.png";
import google from "../assets/google.svg";
import apple from "../assets/apple.svg";
import Libros from "../components/Libros.astro";
---

<Layout>
  <!-- Hero -->
  <div class="bg-linear-to-b from-teal-400 to-cyan-500 pt-6">
    <div class="caixa">
      <!-- Grid -->
      <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-12 md:items-end xl:items-center">
        <div>
          <h1 class="block text-4xl font-bold text-gray-800 sm:text-5xl lg:text-7xl max-w-xl">O maior catálogo do libro en galego</h1>
          <p class="mt-6 text-lg text-gray-800 max-w-lg font-medium">Rexístrate en M8 por ler para crear as túas listaxes, seguir os teus autores favoritos, enterarte de tódalas novidades e acceder a sorteos exclusivos.</p>

          <!-- Buttons -->
          <div class="mt-9 mb-9 grid gap-3 w-full xl:inline-flex">
            <a class="boton blanco" href="#">
              <img class="size-5" src={google.src} alt="" />
              Accede con Google
            </a>
            <a class="boton blanco" href="#">
              <img class="size-5" src={apple.src} alt="" />
              Accede con Apple
            </a>
            <a class="boton outline" href="#"> Accede con tu email </a>
          </div>
          <!-- End Buttons -->
        </div>
        <!-- derecha -->
        <div class="relative md:ms-4">
          <img class="w-full" src={hero.src} alt="Hero Image" />
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero -->
  <!-- Recomendados -->
  <!-- Banner -->
  <!-- Novidades -->
  <!-- Temas -->
  <!-- Autor da semana -->
  <!-- Actualidade -->
</Layout>
