<div class="w-full">
  <!-- SearchBox -->
  <div class="relative" data-hs-combo-box='{
    "groupingType": "default",
    "isOpenOnFocus": true,
    "apiUrl": "/data/libros.json",
   "outputItemTemplate": "<span>holi</span>",
    "groupingTitleTemplate": "<span>holidos</span>"
  }'>
    <div class="relative w-full">
      <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
        <svg class="shrink-0 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </svg>
      </div>
      <input
        class="h-11 w-full text-slate-950 placeholder:text-slate-950 flex items-center border-slate-300 rounded-full pl-12 focus:z-10 focus:border-cyan-500 focus:ring-cyan-500"
        type="text"
        role="combobox"
        aria-expanded="false"
        placeholder="Escribe o título ou autor que procuras"
        value=""
        data-hs-combo-box-input=""
      />
    </div>

    <!-- SearchBox Dropdown -->
    <div class="absolute z-50 w-full bg-white border border-gray-200 rounded-lg" style="display: none;" data-hs-combo-box-output="">
      <div class="max-h-72 rounded-b-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300" data-hs-combo-box-output-items-wrapper="">hoili</div>
    </div>
    <!-- End SearchBox Dropdown -->
  </div>
  <!-- End SearchBox -->
</div>
