---
import ResultadoBuscar from "./ResultadoBuscar.astro";
import InputBuscar from "./InputBuscar.astro";
---

<div class="w-full">
  <!-- SearchBox -->
  <div class="relative">
    <div
      class="relative hs-collapse-toggle"
      data-hs-collapse="#resultado-buscador-lg"
    >
      <InputBuscar />
    </div>
    <div id="resultado-buscador-lg" class="hs-collapse hidden">
      <ResultadoBuscar />
    </div>
  </div>
  <!-- End SearchBox -->
</div>
