---
import data from "../data/autor.json";
---

<div class="w-full">
  <!-- SearchBox -->
  <div class="relative">
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
        <svg class="shrink-0 size-4 text-gray-400 dark:text-white/60" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </svg>
      </div>
      <input
        class="py-3 ps-10 pe-4 block w-full border-gray-200 rounded-full sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        type="text"
        role="combobox"
        aria-expanded="false"
        placeholder="Escribe o título ou autor que procuras"
        value=""
        data-hs-combo-box-input=""
      />
    </div>

    <!-- SearchBox Dropdown -->
    <div class="absolute z-50 w-full bg-white border border-gray-200 rounded-xl p-6 pr-0">
      <div class="max-h-[500px] rounded-b-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-3 sm:gap-6 mt-6 pr-6">
          {
            data.libros.map((libro) => (
              <div>
                <a href="/libro" class="hover:text-cyan-500">
                  <div>
                    <div class=" aspect-[1/1.8] flex items-end">
                      <img class="shadow-md transition-all duration-300 hover:mb-3" src={`/manolo/${libro.imaxe}.jpg`} alt="A brown dog sitting on a grassy field under a clear sky, looking attentively forward, surrounded by trees in the background, calm and peaceful atmosphere" />
                    </div>
                  </div>
                  <div class="text-sm font-bold mt-2 leading-[1.3em]">{libro.tit}</div>
                  <div class="text-xs mt-1">Manuel Rivas</div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <!-- End SearchBox Dropdown -->
  </div>
  <!-- End SearchBox -->
</div>
