---

---

<div class="flex items-center justify-center b-slate-100">
  <!-- Botón sticky -->
  <button id="chatBtn" class="fixed bottom-6 right-6 bg-linear-to-r from-teal-400 to-cyan-500 hover:bg-cyan-500 transition duration-300 text-white rounded-full p-4 shadow-lg shadow-cyan-800/30 z-40">
    <svg class="size-6 stroke-current" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"></path></svg>
  </button>

  <!-- Card overflow -->
  <div id="chatCard" class="fixed bottom-24 right-6 bg-white text-cyan-800 font-medium rounded-lg shadow-2xl shadow-cyan-800/30 w-80 sm:w-sm overflow-y-auto hidden z-50 transition-all duration-300">
    <div class="flex justify-between items-center mb-4 px-6 py-4 bg-slate-900">
      <div class="text-white text-sm font-semibold">O teu asistente virtual</div>
      <button id="closeBtn" class="text-white hover:text-cyan-200 transition"> ✕ </button>
    </div>
    <!-- globos de conversacion tipo chat -->
    <div class="space-y-4 px-6 h-96 lg:h-[50vh] text-sm">
      <!-- Bienvenida -->
      <div>
        Hola!, son o teu asistente virtual, estou aquí para responder as túas preguntas. Non comparto os teus datos persoais. Máis info na nosa <a href="#" class="text-cyan-500 hover:text-cyan-400">Política de privacidade</a> ¿En que podo axudarche hoxe?
      </div>
      <!-- User message -->
      <div class="flex justify-end">
        <div class="bg-cyan-500 text-white rounded-lg rounded-tr-none px-4 py-2 max-w-xs">
          <p class="font-semibold">Hola, ¿cómo estás?</p>
        </div>
      </div>
      <!-- Bot message -->
      <div>
        <p class="text-sm">¡Moi ben! ¿En qué podo axudarte?</p>
      </div>
    </div>
    <!-- barra inferior -->
    <div class="mt-4 flex items-end gap-2 px-6 pb-5">
      <button id="sendBtn" class="p-2 text-cyan-500 bg-cyan-100 hover:bg-cyan-200 rounded-lg transition" title="Enviar">
        <svg class="size-5 stroke-current -rotate-90" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path><path d="M3 3v5h5"></path><path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"></path><path d="M16 16h5v5"></path>
        </svg>
      </button>
      <div class="flex-1 flex gap-2">
        <textarea
          id="messageInput"
          class="w-full px-2 pt-1.5 pb-1.5 border border-cyan-500 rounded-lg resize-none focus:outline-none focus:ring-2 focus:ring-cyan-500 placeholder:text-cyan-600 text-sm max-h-24"
          placeholder="A túa pregunta"
          rows="1"
          data-hs-textarea-auto-height='{"defaultHeight": 37 }'></textarea>
      </div>
      <button id="sendBtn" class="p-2 text-white bg-cyan-500 hover:bg-cyan-600 rounded-lg transition" title="Enviar">
        <svg class="size-5 stroke-current" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z"></path><path d="M6 12h16"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<script>
  const chatBtn = document.getElementById("chatBtn");
  const chatCard = document.getElementById("chatCard");
  const closeBtn = document.getElementById("closeBtn");
  const messageInput = document.getElementById("messageInput");

  chatBtn?.addEventListener("click", () => {
    chatCard?.classList.toggle("hidden");
  });

  closeBtn?.addEventListener("click", () => {
    chatCard?.classList.add("hidden");
  });

  messageInput?.addEventListener("input", () => {
    messageInput.style.height = "auto";
    messageInput.style.height = messageInput.scrollHeight + "px";
  });
</script>
