---
import data from "../data/navbar.json";
import Buscar from "./Buscar.astro";
const isIndex = Astro.url.pathname === "/";
---

<div id="navbar" class="fixed top-0 left-0 right-0 z-50">
  <header class="w-[90%] max-w-7xl py-6 mx-auto">
    <nav class="flex items-center justify-between gap-20">
      <!-- logo -->
      <a href="/" aria-label="Inicio">
        <img src="/logo.svg" alt="Moito por Ler" />
      </a>
      <!-- buscar -->
      <div class="hidden lg:flex flex-1">
        <Buscar />
      </div>
      <!-- páginas -->
      <div class="flex gap-7 items-center">
        <ul class="hidden xl:flex items-center gap-x-6 uppercase text-sm font-medium">
          {
            data.paginas.map((item) => (
              <li>
                <a class="hover:text-slate-700" href={item.url}>
                  {item.tit}
                </a>
              </li>
            ))
          }
          <!-- usuario -->
        </ul>
        <button class="inline-flex xl:hidden">
          <svg class="size-7" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
        </button>
        <a class="hover:text-slate-700 inline-flex" href="#">
          <svg class="size-7" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 20a6 6 0 0 0-12 0"></path>
            <circle cx="12" cy="10" r="4"></circle>
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
        </a>
        <button class="inline-flex xl:hidden">
          <svg class="size-8" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 12h16"></path><path d="M4 18h16"></path><path d="M4 6h16"></path>
          </svg>
        </button>
      </div>
    </nav>
  </header>
</div>

<script>
  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (!navbar) return;
    if (window.scrollY > 30) {
      navbar.classList.remove("bg-transparent");
      navbar.classList.add("bg-white");
    } else {
      navbar.classList.remove("bg-white");
      navbar.classList.add("bg-transparent");
    }
  });
</script>
