<div>
  <button type="button" class="boton negro" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-example" data-hs-overlay="#hs-offcanvas-example">
    <svg class="size-6 stroke-current stroke-2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
      <line x1="21" x2="14" y1="4" y2="4"></line><line x1="10" x2="3" y1="4" y2="4"></line>
      <line x1="21" x2="12" y1="12" y2="12"></line><line x1="8" x2="3" y1="12" y2="12"></line>
      <line x1="21" x2="16" y1="20" y2="20"></line><line x1="12" x2="3" y1="20" y2="20"></line>
      <line x1="14" x2="14" y1="2" y2="6"></line><line x1="8" x2="8" y1="10" y2="14"></line>
      <line x1="16" x2="16" y1="18" y2="22"></line>
    </svg>
    <span class="white">Filtrar <span class="hidden sm:inline-block">títulos</span></span>
  </button>

  <div id="hs-offcanvas-example" class="hs-overlay hs-overlay-open:translate-x-0 hidden -translate-x-full fixed top-0 start-0 transition-all duration-300 transform h-full max-w-xs w-full z-80 bg-white" role="dialog" tabindex="-1" aria-labelledby="hs-offcanvas-example-label">
    <div class="py-3 px-4 flex w-full justify-end">
      <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent hover:bg-slate-200 focus:outline-hidden focus:bg-slate-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close" data-hs-overlay="#hs-offcanvas-example">
        <span class="sr-only">Close</span>
        <svg class="shrink-0 size-6 stroke-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>
      </button>
    </div>
    <div class="p-6">
      <!-- valoracións -->
      <div class="flex flex-col gap-3">
        <h2>Valoracións</h2>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">
            <div class="text-sm text-slate-500 flex items-center gap-1">
              <div>
                <svg class="fill-cyan-500 size-4" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                  ></path>
                </svg>
              </div>
              <div class="font-bold text-cyan-500">5 e máis</div>
            </div>
          </label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">
            <div class="text-sm text-slate-500 flex items-center gap-1">
              <div>
                <svg class="fill-cyan-500 size-4" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                  ></path>
                </svg>
              </div>
              <div class="font-bold text-cyan-500">4 e máis</div>
            </div>
          </label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">
            <div class="text-sm text-slate-500 flex items-center gap-1">
              <div>
                <svg class="fill-cyan-500 size-4" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                  ></path>
                </svg>
              </div>
              <div class="font-bold text-cyan-500">3 e máis</div>
            </div>
          </label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">
            <div class="text-sm text-slate-500 flex items-center gap-1">
              <div>
                <svg class="fill-cyan-500 size-4" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                  ></path>
                </svg>
              </div>
              <div class="font-bold text-cyan-500">2 e máis</div>
            </div>
          </label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">
            <div class="text-sm text-slate-500 flex items-center gap-1">
              <div>
                <svg class="fill-cyan-500 size-4" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                  ></path>
                </svg>
              </div>
              <div class="font-bold text-cyan-500">1 e máis</div>
            </div>
          </label>
        </div>
      </div>
      <!-- autor -->
      <div class="flex flex-col gap-3 mt-6">
        <h2>Autor</h2>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Autores galegos</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Resto de autores</label>
        </div>
      </div>
      <!-- número de páxinas -->
      <div class="flex flex-col gap-3 mt-6">
        <h2>Número de páxinas</h2>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Menos de 100 páxinas</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">100 - 200 páxinas</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">200 - 400 páxinas</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Máis de 500 páxinas</label>
        </div>
      </div>
      <!-- editoriais -->
      <div class="flex flex-col gap-3 mt-6">
        <h2>Editoriais</h2>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Galaxia</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Xerais</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Urco</label>
        </div>
        <div class="flex">
          <input type="checkbox" class="shrink-0 mt-0.5 border-slate-300 rounded-sm text-cyan-600 focus:ring-cyan-500 checked:border-cyan-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-default-checkbox" />
          <label for="hs-default-checkbox" class="text-sm ms-3">Cumio</label>
        </div>
      </div>
    </div>
  </div>
</div>
