---
import "../styles/global.css";
// Supports weights 200-700
import "@fontsource-variable/oswald";
// Supports weights 200-800
import "@fontsource-variable/manrope";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
  <!-- Preline UI -->
  <script>
    import "preline/dist/preline.js";

    import Splide from "@splidejs/splide";

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".libros").forEach((el) => {
        new Splide(el, {
          perPage: 6,
          gap: "1.5rem",
          pagination: false,
          arrows: true,
          classes: {
            arrows: "splide__arrows libros__arrows",
            arrow: "splide__arrow libros__arrow !bg-white",
            prev: "splide__arrow--prev -ml-16",
            next: "splide__arrow--next -mr-16",
          },
          breakpoints: {
            1024: { perPage: 5, arrows: false },
            768: { perPage: 3 },
            480: { perPage: 1 },
          },
        }).mount();
      });
    });

    document.addEventListener("DOMContentLoaded", () => {
      new Splide("#splide", {
        perPage: 5,
        gap: "2rem",
        pagination: false,
        arrows: false,
        breakpoints: {
          1024: { perPage: 4 },
          768: { perPage: 3 },
          480: { perPage: 2 },
        },
      }).mount();
    });
  </script>
</html>
